---
import { getPermalink } from '~/utils/permalinks';

export interface Props {
  prevUrl?: string;
  nextUrl?: string;
  prevText?: string;
  nextText?: string;
}

const { prevUrl, nextUrl, prevText = '较新的文章', nextText = '较早的文章' } = Astro.props;
---

{
  (prevUrl || nextUrl) && (
    <div class="flex items-center justify-between pt-8 text-sm">
      <a class:list={['hover:underline', { invisible: !prevUrl }]} href={prevUrl ? getPermalink(prevUrl) : undefined}>
        ← {prevText}
      </a>
      <a class:list={['hover:underline', { invisible: !nextUrl }]} href={nextUrl ? getPermalink(nextUrl) : undefined}>
        {nextText} →
      </a>
    </div>
  )
}
