---
import { getPermalink } from '~/utils/permalinks';

import { APP_BLOG } from 'astrowind:config';
import type { Post } from '~/types';

export interface Props {
  tags: Post['tags'];
  class?: string;
  title?: string | undefined;
  isCategory?: boolean;
}

const { tags, class: className = 'text-sm', title = undefined, isCategory = false } = Astro.props;
---

{
  tags && Array.isArray(tags) && (
    <>
      {title !== undefined && (
        <span class="font-normal text-muted dark:text-slate-400 mr-2">
          {title}
        </span>
      )}
      <ul class={`flex flex-wrap gap-x-3 gap-y-1 ${className}`}>
        {tags.map((tag) => (
          <li class="text-sm text-muted dark:text-slate-400">
            {!APP_BLOG?.tag?.isEnabled ? (
              `#${tag.title}`
            ) : (
              <a
                href={getPermalink(tag.slug, isCategory ? 'category' : 'tag')}
                class="hover:underline"
              >
                #{tag.title}
              </a>
            )}
          </li>
        ))}
      </ul>
    </>
  )
}
